@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&family=Poppins:ital,wght@0,300;0,500;1,300&display=swap");

.orange {
    font-family: "Comfortaa", cursive;
}

.orangemotto {
    width: 250px;
}
.footerFirstRow {
    display: flex;
    flex-direction: column;
}

.footer {
    width: min(90%, 1440px);
    margin-inline: auto;
    padding-top: 100px;

    display: flex;
    gap: 500px;
}

.FooterLeft {
    display: flex;
    gap: 90px;
}

li {
    list-style: none;
}

.fu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width:800px){
    .footer{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .orangemotto{
        width:100%;
    }
    .FooterLeft{
        gap:30%;
    }
}

@media (min-width:801px) and (max-width:1064px){
    .footer{
        width:90%;
        gap: 15%;
    }
    .FooterLeft{
        gap:90px;
    }
}